:root {
  --rebelBlue: #98cee3;
  --rebelPink: #f7ceeb;
  --rebelPurple: #74174d;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--rebelBlue);
  text-align: center;
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif
}

/* Nav Bar Styling */
ul {
  font-weight: 500;
  width: 100%;
  list-style-type: none;
  overflow: hidden;
  background-color: var(--rebelPink);
}

nav li a {
  float: left;
  display: block;
  color: var(--black);
  line-height: 40%;
  font-size: calc(20px + 0.2vw);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 2px solid white;
}

li a:hover {
  background-color: var(--rebelPurple);
  color: white;
}

@media screen and (max-width: 800px) {
  nav a {
    float: none;
    width: 100%;
    border-bottom: 1px solid white;
  }
}

/* Main styling to make sections responsive*/
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  justify-content: center;
}

/*section styling*/
section {
  padding: 10px;
  border-style: dashed;
  border-color: white;
  margin-top: 20px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#creative {
  color: indigo;
}
#global {
  color: dodgerblue;
}

#grownUp {
  color: olive;
}

#selfAware {
  color: mediumorchid;
}

#wellness {
  color: lightseagreen;
}

#wild {
  color: maroon;
}

h1 {
  font-size: 3rem; 
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

a {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
}

/* Footer styling */

footer {
  background-color: var(--rebelPink);
  margin-top: 10px;
  padding: 4px;
}
