* {
  margin: 0;
  padding: 0;
}

body {
    background-color: var(--primary-bg);
	color: white;
	font-family: "Roboto", sans-serif;
}

/* Header styling */

header {
    padding: 10px;
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display:grid;
    grid-template-columns: 1fr 4fr;    
}

.icon-circle {
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: relative; /*So that we can centre the image*/    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: span 3;
}

img {
    background-color: var(--accent-color);
	width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 2px;
    /*So that the image is in the centre*/
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

}

h1, h2, h3 {
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 10px;
}

h1 {
    margin-top:20px;
    font-size: 2.5rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-weight: 300;
}

/* Main styling */

main {
    display: flex;
    flex-direction: column;
}

section {
	background-color: white;
	color: black;
    margin: 10px;
    min-height: 120px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    display: grid;
    grid-template-columns: 7fr 1fr;
}

.clause {
    width: 80%;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    padding: 10px;
}

.number {
    font-size: 5rem;
    padding: 10px;
    color: var(--accent-color);
    font-weight: 800;
    font-family: "Tulpen One", sans-serif;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: end;
}

h4 {
    padding-bottom: 10px;
}

footer {
    text-align: center;   
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: white;
 
}
.credit {
    display: none;
}